html, body {
  margin: 0;
  padding: 0;
}
.navbar {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#B2D732fa;
  color: #092834;
  padding: 10px 20px;

}
.navbar-brand {
  margin-right: auto;
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
}
.navbar-menu {
  display: flex;
  align-items: center;
  font-family: 'Alegreya', serif;
  font-size: 1.5rem;
}
.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-item {
  color: #092834;
  margin-left: 10px;
  font-size: 1.2rem;
  margin: 10px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.nav-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}
.nav-item:hover::before {
  width: 100%;
}
.navbar-toggle {
  display: none;
}
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
    cursor: pointer;
  }
  .navbar-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    color: aliceblue;
    background-color: #388de2;
    padding: 10px;
    top: 45px;
  }
  .show {
    display: flex;
    flex-direction: column;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-item {
    margin-bottom: 10px;
    color: azure;
  }
}