#projects {
  align-items: center;
  background-color: #092834;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.home-h {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
  background-color: rgba(240, 248, 255, 0.425);
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for cards on smaller screens */
  justify-content: space-between;
  background-color: #092834;
}

.card-row { /* New style for the card row */
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping in this row */
  justify-content: space-between;
  width: 100%; /* Ensure the row fills the container width */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the card content vertically */
  margin: 20px;
  background-color: rgba(240, 248, 255, 0.425);
  border-radius: 27px;
  padding: 5px;
  flex: 0 0 25%; /* Set card width to 25% for four columns */
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /* Adjust height as needed */
}

.card-img img {
  width: 100%;
  height: auto;
  margin: 0; /* Remove any unnecessary margins */
  border-radius: 27px;
}

.card-body {
  text-align: center;
  padding: 20px; /* Add padding for spacing around text */
  align-items: center; /* Center the text within the card body */
}

.card-img a {
  position: relative;
  display: inline-block;
}

.card-img a::after {
  content: "Open in GitHub to view source code";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img a:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  #projects {
    align-items: center;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 20px 10px;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .card-img {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }

  .card-img img {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 27px;
  }

  .card-body {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
}