#projects {
    align-items: center;
    background-color: #092834;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.home-h {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #141619;
    color: #B4B3BD;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #B4B3BD;
}

.card-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    background-color: rgba(240, 248, 255, 0.425);
    border-radius: 27px;
    padding: 5px;
    flex: 0 0 30%; /* Ensures 3 columns with space between */
    transition: transform 0.3s ease, background 0.3s ease;
    box-sizing: border-box; /* Ensures padding doesn't overflow the card */
}

.card:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card-img img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 27px;
}

.card-img a {
    position: relative;
    display: inline-block;
}

.card-img a::after {
    content: "Open in GitHub to view source code";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-img a:hover::after {
    opacity: 1;
}

.card-body {
    position: relative;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.5s ease-out;
}

.card:hover .card-body {
    max-height: 1000px;
    padding: 20px;
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
    position: relative;
}

.card-text {
    font-size: 1rem;
    color: #444;
    margin: 10px 0;
    text-align: center;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    #projects {
        align-items: center;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        margin: 20px 10px;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .card-img {
        margin-bottom: 10px;
    }
    .card-img img {
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 10px;
        border-radius: 27px;
    }
    .card-body {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
}
